<div class="navbar bg-neutral w-full md:px-6">
  <div class="navbar-start w-full">
    <button
      class="btn btn-ghost btn-square drawer-button md:hidden"
      (click)="hamburgerService.toggleHamburgerVisibility()">
      <ng-icon name="heroBars3Solid" size="24"></ng-icon>
    </button>
    <a class="btn btn-ghost" (click)="router.navigateByUrl('/')">
      <app-logo></app-logo>
    </a>
    <ng-content select="[left]"></ng-content>
  </div>
  <div class="navbar-end">
    <ng-content select="[right]"></ng-content>
  </div>
</div>
