<app-header>
  <ng-container left>
    <ul class="hidden md:flex menu menu-horizontal menu-compact font-bold px-1">
      <li><a routerLink="/hotels">Hotels</a></li>
      <li><a routerLink="/rooms">Rooms</a></li>
      <li><a routerLink="/offers">Offers</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </ng-container>
  <ng-container right>
    <ul class="hidden md:flex menu menu-horizontal menu-compact font-bold px-1">
      <li>
        <a routerLink="/reservations">
          <div class="flex space-x-2">
            <ng-icon
              class="hidden lg:inline"
              name="heroClockSolid"
              size="18"></ng-icon>
            <span>Reservations</span>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <ng-icon
            class="hidden lg:inline"
            name="heroPhoneSolid"
            size="18"></ng-icon>
          <span>Contact</span>
        </a>
      </li>
    </ul>
    <button class="btn btn-ghost btn-circle" routerLink="/login">
      <ng-icon name="heroUserSolid" size="18"></ng-icon>
    </button>
  </ng-container>
</app-header>
