<app-hamburger>
  <ng-container content>
    <ng-content select="[content]"></ng-content>
  </ng-container>
  <ng-container side>
    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
      <li><a routerLink="/" appToggleHamburger>Home</a></li>
      <li></li>
      <li><a routerLink="/hotels" appToggleHamburger>Hotels</a></li>
      <li><a routerLink="/rooms" appToggleHamburger>Rooms</a></li>
      <li><a routerLink="/offers" appToggleHamburger>Offers</a></li>
      <li><a routerLink="/about" appToggleHamburger>About</a></li>
      <li></li>
      <li><a routerLink="/reservations" appToggleHamburger>Reservations</a></li>
      <li><a routerLink="/contact" appToggleHamburger>Contact</a></li>
    </ul>
  </ng-container>
</app-hamburger>
